.form{
    margin-top: 20px;
    margin-left: 10px;
    border-bottom: solid 3px #007bff;
    padding: 5px;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
.btn_novo{
    margin-left: 10px;
}
.h1, h1{
    font-size: 2.2rem;
    color: #007bff;
}

.table{
    margin-top: 5px;
    color: #007bff;
    font-size: 15px;
}
.input-group{
    margin-top: 5px;
}
.label{
    font-size: 30px;
    color: #007bff;
}
.label_listar{
    font-size: 30px;
    color: #007bff;
    margin-bottom: 0px;
}